@font-face {
    font-family: "FontAwesome";
    src: url("fonts/FontAwesome/fontawesome-webfont.eot?v=4.7.0");
    src: url("fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
    url("fonts/FontAwesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("fonts/FontAwesome/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("fonts/FontAwesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("fonts/FontAwesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("fonts/Montserrat/Montserrat-Bold.eot");
    src: local("☺"), url("fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat/Montserrat-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("fonts/Montserrat/Montserrat-Medium.eot");
    src: local("☺"), url("fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"), url("fonts/Montserrat/Montserrat-Medium.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 16px;
    font-family: "Montserrat-Medium", Arial, Verdana, sans-serif;
}

@media (min-width: 300px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 16px;
    }
}

.fa-facebook-f:before,
.fa-facebook:before {
    content: "\f09a";
}

.fa-google-plus:before {
    content: "\f0d5";
}

.jumbotron-icon .info-icons {
    font-size: 14px;
}

.fa-instagram:before {
    content: "\f16d";
}

.fa-twitter:before {
    content: "\f099";
}

.fa-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.primary-post-single {
    position: relative;
}

.logo {
    padding-left: 10px;
}

.post-header {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.top-header {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.top-header__wrapper {
    display: flex;
    flex-direction: row;
}

.top-header_background {
    background: #025da1;
}

.search-block {
    position: relative;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search__input {
    height: 35px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 5px;
    margin-right: 10px;
    display: none;
}

.primary-bacground {
    background: #025da1;
}

.search-form_wrraper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-form_wrraper:after {
    content: '';
    border-right: 1px solid #fff;
    top: 0;
    position: relative;
    height: 35px;
}

.search-block label {
    margin: 0;
}

@media (min-width: 300px) {
    .logo {
        padding-left: 0;
        text-align: center;
    }

    .search-form_wrraper {
        justify-content: center;
    }

    .search-form_wrraper:after {
        content: none;
    }
}

@media (min-width: 768px) {
    .logo {
        padding-left: 10px;
        text-align: center;
    }

    .search-form_wrraper {
        justify-content: flex-end;
    }

    .search-form_wrraper:after {
        content: none;
    }
}

@media (min-width: 992px) {
    .search-form_wrraper:after {
        content: '';
        left: 35px;
    }
}

.social-icon_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icon {
    color: #fff;
    margin: 10px;
}

.fa-search:before {
    content: "\f002";
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 10px 0;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
    color: #fff;
    font-size: 29px;
}

.navbar-toggler-icon {
    height: auto;
}

.nav-item {
    position: relative;
}

.nav-item:hover {
    background: #025da1;
}

.sub-menu {
    top: 95%;
}

.nav-item:hover .sub-menu {
    display: block;
}

.nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    margin-left: 5px;
    font-size: 15px;
}

.navbar {
    padding: 0 1rem;
}

.nav-link:hover {
    color: #fff;
}

.single-page .post-inner img {
    max-width: 600px;
    width: auto;
    height: auto;
}

@media (min-width: 300px)  {
    .single-page .post-inner img {
        width: 85%;
        height: auto;
    }
}

@media (min-width: 992px)  {
    .single-page .post-inner img {
        width: auto;
        height: auto;
    }
}
.screen-reader-text {
    display: none;
}

.nav-links a {
    padding: 5px 10px;
    margin: 5px;
    color: #fff;
    background: #025da1;
}

.pagination {
    justify-content: center;
}

.moduletable {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.post-header__title {
    color: #fff;
    display: block;
    line-height: 1;
    font-family: "Montserrat-Medium", Arial, Verdana, sans-serif;
}

.post-header__title:hover {
    color: #fff;
    text-decoration: underline;
}

._padding-top-20 {
    padding-top: 20px;
}


._padding-top-50 {
    padding-top: 50px;
}

.title_single {
    font-size: 22px;
    padding-top: 20px;
}

.primary-post-block_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.primary-post-block__item {
    position: relative;
}

.wrap-owerflow {
    height: 155px;
    overflow: hidden;
}

.post-block_odd {
    padding-right: 10px;
}

.post-block_even {
    padding-left: 10px;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #333;
}

@media (min-width: 992px) {
    .navbar-toggleable-md {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .navbar-toggleable-md .navbar-collapse {
        display: -webkit-box!important;
        display: -webkit-flex!important;
        display: -ms-flexbox!important;
        display: flex!important;
        width: 100%;
    }

    .navbar-toggleable-md .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-toggleable-md .navbar-toggler {
        display: none;
    }

    .navbar-toggleable-md .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }

}

.post-block {
    position: relative;
    margin-bottom: 20px;
}

.post-block__header {
    border-left: 1px solid #025da1;
    border-right: 1px solid #025da1;
    border-bottom: 1px solid #025da1;
    padding: 5px;
}

.post-block__img {
    width: 100%;
    height: auto;
}

.post-block__link {
    display: block;
    color: #000;
    font-size: 1rem;
    line-height: 1.25;
    font-family: "Montserrat-Medium", Arial, Verdana, sans-serif;
    padding-bottom: 10px;
    min-height: 70px;
}

.post-block__link:hover {
    text-decoration: none;
    color: #025da1;
}

.meta-icon {
    color: #025da1;
}

.container {
    position: relative;
    background: #fff;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}

.gutter-width-s {
    padding-left: 10px;
    padding-right: 10px;
}

.fa-folder-open:before {
    content: "\f07c";
}

.fa-instagram:before {
    content: "\f16d";
}

.fa-eye:before {
    content: "\f06e";
}

.fa-linkedin:before {
    content: "\f0e1";
}

.post-block__meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date {
    width: 125px;
    padding: 5px 10px;
    background: #025da1;
    color: #fff;
}

.date_post-position {
    position: absolute;
    bottom: 0;
}

.date_post-single-position {
    position: absolute;
    top: 30px;
}

.meta-value {
    padding-left: 5px;
    color: #acacac;
    font-size: 12px;
}

.img {
    width: 100%;
    height: auto;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}

.fb-comments, .fb-comments iframe[style] {width: 100% !important;}

.facebook-block {
    text-align: center;
    background: #f6f7f9;
    margin: 20px  0;
}

.section_offset {
    margin-bottom: 20px;
}

.single-page img {
    width: 100%;
    height: auto;
}

.posts-container {
    padding-bottom: 150px;
}

.error404 .posts-container {
    padding-bottom: 425px;
}

.title-h1 {
    font-size: 25px;
    padding: 20px;
}

.more-posts {
    color: #979797;
    font-weight: bold;
    font-size: 18px;
    border: none;
    background: none;
    cursor: pointer;
}

.paragraph {
    color: #979797;
}

.banner-side {
    position: fixed;
    width: 400px;
    height: 900px;
}

.banner-side-inner_left {
    position: absolute;
    top: 0;
    width: 460px;
    height: 100%;
    left: 0;
}

.banner-side-inner_right {
    position: absolute;
    top: 0;
    width: 460px;
    height: 100%;
    right: 0;
}

.banner-side_right {
    top: 0;
    right: 0;
}

.banner-side_left {
    top: 0;
    left: 0;
}

.banner-link_left {
    position: absolute;
    left: 0;
    width: 920px;
    height: 100%;
    display: block;
}

.banner-link_right {
    position: absolute;
    right: -460px;
    width: 920px;
    height: 100%;
    display: block;
}

@media (min-width: 1300px) {
    .banner-link_left {
        left: 0;
    }

    .banner-link_right {
        right: -460px;
    }
}

@media (min-width: 1500px) {
    .banner-link_left {
        left: 230px;
    }

    .banner-link_right {
        right: -230px;
    }
}

/****** Own ******/

.block {
    display: block;
}

.wrap {
    position: relative;
}

.post-block .wrap {
    height: 144px;
    overflow: hidden;
}

.padding-xl {
    padding: 25px
}

.padding-m {
    padding: 15px
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

.main {
    padding-top: 20px;
}

/************/

/***** test *******/

.test {
    outline: 1px solid #000;
    padding: 5px;
    margin-bottom: 0;
}

.test p {
    margin: 5px;
}

._background-g {
    background: #076627;
}
._background-c {
    background: #ccc;
}
._background-r {
    background: #bf2d18;
}

.outline-c {
    outline: 1px solid #ccc;
}

.outline {
    outline: 1px solid #000;
}

.outline-g {
    outline: 3px solid #00663f;
}

.outline-w {
    outline: 1px solid #fff;
}

.outline-r {
    outline: 1px solid #a94442;
}

/************/